{% extends "blog/bas.html" %}
{% load static %}
{% block content %}
<style type="text/css">
h3{
	text-align: center;
}
</style>

 <img src="{% static 'blog/img/f7.jpg' %}" height="400px" width="100%">
 <div class="container">
<h2 class="text-center">ABOUT US</h2>
<p class="text-center">WE ARE A NEW SAUDI BRAND THAT SELL HOODIES AND PANTS.</p><hr>
<h2 class="text-center">OUR VISION</h2>
<p class="text-center">EVERY SEASON NEW COLLECTION BY SAUDI DESIGNERS </p>
</div>





 <!------------------ Hover Effect Style : Demo - 1 --------------->
        <div class="container">
            <div class="row mt-40">
                <div class="col-md-4 col-sm-6">
                    <div class="box1">
                        <img src="{% static 'blog/img/about1.jpg' %}" height="350px" width="100%" alt="">
                        <h3 class="title">Limited Collection of F7</h3>
                       
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="box1">
                        <img src="{% static 'blog/img/about2.jpg' %}" height="350px" width="100%" alt="">
                        <h3 class="title">“F7” (PANTS)</h3>
                       
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="box1">
                        <img src="{% static 'blog/img/about3.jpg' %}" height="350px" width="100%" alt="">
                        <h3 class="title">Triple hoodie</h3>
                        
                    </div>
                </div>
            </div>
        </div>
        
     <div class="container">
            <div class="row mt-40">
                <div class="col-md-4 col-sm-6">
                    <div class="box1">
                        <img src="{% static 'blog/img/about4.jpg' %}" height="350px" width="100%" alt="">
                        <h3 class="title">“F7” (PANTS)</h3>
                       
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="box1">
                        <img src="{% static 'blog/img/about5.jpg' %}" height="350px" width="100%" alt="">
                        <h3 class="title">high neck F7</h3>
                        
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="box1">
                        <img src="{% static 'blog/img/about6.jpg' %}" height="350px" width="100%" alt="">
                        <h3 class="title">Triple hoodie</h3>
                        
                    </div>
                </div>
            </div>
        </div>
        


{% include 'blog/footer.html ' %}
{% endblock content %}