{% extends "blog/bas.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!------ Include the above in your HEAD tag ---------->
<style type="text/css">
    .contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 2%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 2%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}
#spartansSection {
    height: 400px;
    width: 100%;
    background-color: #242e51;
    position: relative;
}
.spartansTitle {
    position: absolute;
    top: 40%;
    left: 6%;
}
h2 {
    font-size: 24px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
    margin-bottom: 30px;
  }
  .fa {
  padding: 6px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  /*margin: 5px 2px;*/
}

.fa:hover {
    opacity: 0.7;
}


.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-map-marker {
  background: #dd4b39;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
.float-left{
    margin-top: 20px;
    margin-bottom: 20px
}
.float-right{
    margin-top: 20px;
    margin-bottom: 20px
}

.footer{
    background: #e2e1dd;
}
</style>
    <img src="{% static 'blog/img/contact.jpg' %}" height="500px" width="100%">

<div class="container contact-form">
            <div class="contact-image">
                <img src="https://image.ibb.co/kUagtU/rocket_contact.png" alt="rocket_contact"/>
            </div>
            <form method="post">
                <h3>SEND US AN EMAIL</h3>
              {% csrf_token %}
                {{ form|crispy }}
                        <div class="form-group">
                            <input type="submit" name="btnSubmit" class="btnContact" value="Send Message" />
                        </div>
                    
            </form>
</div>
<div class="footer container-fluid mt-4 mb-4">
  <div class="clearfix">
    <span class="float-left">
<a href="https://twitter.com/ " class="fa fa-twitter"></a>
<a href="https://instagram.com/f7.designn?igshid=10n24kcccnqoh" class="fa fa-instagram"></a>
<a href="https://www.google.com/maps/@24.4450835,39.5381676,15z" class="fa fa-map-marker"></a>

    </span>
    <span class="float-right">© F7 DESIGN 2021
LAMA SALEH ALJOHANI 

</span>
  </div>
</div>
{% endblock %}