{% extends "blog/bas.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style type="text/css">
  #spartansSection {
    height: 400px;
    width: 100%;
    background-color: #5F788a;
    position: relative;
}
.spartansTitle {
    position: absolute;
    top: 40%;
    left: 5%;
}
h1 {text-align: center;}
/*.detail{
  margin-right: 50px;
  margin-left: 50px;
}*/
.fa {
  padding: 6px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  /*margin: 5px 2px;*/
}

.fa:hover {
    opacity: 0.7;
}


.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-map-marker {
  background: #dd4b39;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
.float-left{
    margin-top: 20px;
    margin-bottom: 20px
}
.float-right{
    margin-top: 20px;
    margin-bottom: 20px
}

.footer{
    background: #e2e1dd;
}
</style>

<div class="container">
<img src="{% static 'blog/img/bannr.jpg' %}" height="400px" class="d-block w-200" alt="...">
</div>
<div class="container">
  <h1 class="mt-4">How we work</h1>
  <div class="detail row mt-4">
  <div class="col-4">
    <h3>Browse our products</h3>
    <p>You can view the products and choose according to your desire</p>
  </div>
  <div class="col-4">
    <h3>Order and pay online</h3>
    <p>Safe payment methods, by Visa, MasterCard or Cash on Delivery</p>
  </div>
  <div class="col-4">
    <h3>Quick Delivery</h3>
    <p>The delivery man will reach you quickly in your location</p>
  </div>
</div>
  </div>
<div class="footer container-fluid mt-4 mb-4">
  <div class="clearfix">
    <span class="float-left">
<a href="https://twitter.com/ " class="fa fa-twitter"></a>
<a href="https://instagram.com/f7.designn?igshid=10n24kcccnqoh" class="fa fa-instagram"></a>
<a href="https://www.google.com/maps/@24.4450835,39.5381676,15z" class="fa fa-map-marker"></a>

    </span>
    <span class="float-right">© F7 DESIGN 2021
LAMA SALEH ALJOHANI
</span>
  </div>
</div>
{% endblock content %}